config/mainConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>

<xs:element name = 'mainConfig'>
	<xs:complexType>
		<xs:sequence>
			<xs:element name='debugPath' type = 'xs:string'/>
			<xs:element name='pluginConfigPath' type = 'xs:string'/>
			<xs:element name='rootDataPath' type = 'xs:string'/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema> 